ALIYUN_OSS_ENDPOINT=oss-cn-nanjing.aliyuncs.com
ALIYUN_OSS_ACCESS_KEY_ID=
ALIYUN_OSS_ACCESS_KEY_SECRET=
ALIYUN_OSS_BUCKET_NAME=

ALIPAY_APP_ID=
ALIPAY_APP_PRIVATE_KEY=
ALIPAY_ALIPAY_PUBLIC_KEY=
ALIPAY_NOTIFY_URL=http://vxqj3e.natappfree.cc/alipay/notify
ALIPAY_SERVER_URL=https://openapi-sandbox.dl.alipaydev.com/gateway.do
ALIPAY_RETURN_URL=http://vxqj3e.natappfree.cc/api/orders/returnUrl

DB_HOST=localhost  # 需要被覆盖为db
DB_PORT=3306
DB_NAME=Tomato
DB_USER=root
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379